<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Klinai Test Suite">
            <directory>./KlinaiTest</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
        </exclude>
    </groups>

    <listeners>
    </listeners>
    

    <logging>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
</phpunit>